<div class="container contactusimg mb-5">
    <div class="row  justify-content-evenly">
        <h1 class="mb-2 mt-3">CONTACT US</h1>
        <div class="col-lg-7">
            <form>
                <div class="mb-3">
                    <label >Full Name :</label>
                    <input type="text" placeholder="Enter Your Name">
                  </div>
                <div class="mb-3">
                  <label>Email :</label>
                  <input type="email" placeholder="Enter Your Email">
                </div>
                <div class="mb-3">
                  <label>Password :</label>
                  <input type="password" placeholder="Password">
                </div>
                <button type="button">Submit</button>
                <button type="reset">RESET</button>
              </form>
        </div>
        <div class="col-lg-4 mt-1">
            <h2 class="text-white ms-3">ADDRESS</h2>
            <p class="text-white ms-3">Gym Sportsbar, 8th Avenue, New York, USA<br>New York - 11596</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.880180171437!2d-74.00301248463413!3d40.74266197932861!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259beaaffe35f%3A0xbdf5954dbe2c9bee!2sGym%20Sportsbar!5e0!3m2!1sen!2sin!4v1679658020679!5m2!1sen!2sin" width="90%" height="55%"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
