.contactusimg{
    background-image: url('../../assets/images/gym.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 7px;
}
h1{
    color:red;
    font-weight: bold;
    text-align: center;
}
label{
    color: white;
    font-size: 24px;
}
input{
    padding: 8px;
    width: 100%;
    border-radius: 7px;
    outline: none;
    border: none;
}
button{
    width: 125px;
    padding: 7px;
    text-align: center;
    margin-left: 2%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 7px;
    background-color: rgb(110, 75, 75);
    border: none;
    outline: none;
    margin-bottom: 4%;
}
button:hover{
    background-color: rgb(219, 29, 29);
}