/* // navbar css start  */
.nav-header{
    background-color: rgb(39, 28, 28);
}
span{
    color: red;
}
.nav-link {
    font-size: 18px;
    font-weight: bold;
    color: white;
    transition: transform 0.2s ease-in-out;
}
.nav-link:hover { 
    transform: scale(1.1);
    color:white;
}
button {
    width: 70px;
    padding: 10px;
    border: none;
    outline: none;
    color: white;
    background-color: rgb(122, 75, 75);
    border-radius: 5px;
}
.fa-dumbbell{
    color: white;
    font-size: 40px;
    margin-right: 5%;
    color: red;
}
button:hover {
    background-color: rgb(137, 12, 12);
}
@media screen and ((min-width:360px) and (max-width:820px)){
    .fa-dumbbell{
        font-size: 25px;
    }

}
@media screen and ((min-width:989px) and (max-width:1200px)){
    .nav-link {
        font-size: 12px;
    }
}
/* // navbar css end  */


/* carousal start here  */
.removecolor{
    background: none;
}
.carousel-control-prev:hover {
    background-color: transparent;
}

.carousel-control-next:hover {
    background-color: transparent;
}
.carousal-section{
    padding: 0;
}

/* carousal end here  */