<!-- // navbar start  -->
<section class="nav-header">
    <div class="container">
      <div class="header">
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <i class="fa-sharp fa-solid fa-dumbbell"></i>
              <h1 style="color: white; display: inline;"><span>BE</span>FIT</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                <li class="nav-item me-5">
                  <a class="nav-link text-white" aria-current="page" href="#">HOME</a>
                </li>
                <li class="nav-item me-4">
                  <a class="nav-link text-white" href="#aboutus">ABOUT US</a>
                </li>

                <li class="nav-item me-4">
                  <a class="nav-link text-white" href="#ourfeature">OUR FEATURE</a>
                </li>
                <li class="nav-item me-4">
                  <a class="nav-link text-white" href="#contactus">CONTACT US</a>
                </li>
                <li class="nav-item me-4">
                  <a class="nav-link text-white" href="#footer">TRAINER</a>
                </li>
                <li class="nav-item me-4">
                  <a class="nav-link text-white" href="#footer">FOOTER</a>
                </li>
              </ul>
              <form class="d-flex" role="search">
                <button class=" me-4 lodinbutton">Login</button>
                <button class="me-3 signinbutton">Sign in</button>
              </form>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </section>
  <!-- // navbar end  -->
  <!-- carousal start  -->
  <div class="container-fluid" style="padding: 0px;">
    <div id="carouselExampleIndicators" class="carousel slide mb-5" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner ">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="../assets/images/gym1.png" style="width: 100%; height: 600px;" alt="BEFIT-carousalimage">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="../assets/images/gym2.png" style="width: 100%; height: 600px;" alt="BEFIT-carousalimage">
        </div>
        <div class="carousel-item">
          <img src="../assets/images/gym3.png" style="width: 100%; height: 600px;" alt="BEFIT-carousalimage">
        </div>
      </div>
      <button class="carousel-control-prev removecolor" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next removecolor" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <!-- carousal end  -->

  <!-- // heading-paragraph start here  -->
<app-headin-paragraph/>
  <!-- // heading-paragraph end here  -->
